body {
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	display: grid;
}
li {
	list-style-type: none;	
}
ul {
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #fff;
}
body.lock {
	overflow: hidden;
}

/*заголовок*/


/*обнуление*/
*,*:before,*;after{
	padding: 0;
	margin: 0;
	bottom: 0;
	box-sizing: border-box;
}
html, body {
	height: 100%;
	font-family: 'Montserrat', sans-serif;
}

/*стили для демонстрации*/
.wrapper {
  display: contents;
}

/*основные стили*/
.container {
	max-width: 1170px;
	margin: 0 auto;
}
.header {
	 position: fixed;
	 width: 100%;
	 top: 0;
	 left: 0;
	 z-index: 50;
}
.header:before{
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000; 
	z-index: 4;
}
.header_body{
	position: relative;
	display: flex;
	height: 80px;
	align-items: center;
	justify-content: space-between;
}
.header_logo{
	display: block;
	text-decoration: none;
	color: #fff;
	font-size: 32px;
	font-weight: bold;
	position: relative;
	z-index: 4;
	padding-left: 10px;
}
.header_burger{
	display: none;

}
.header_group {
	display: flex;
	text-align: center;
}


/*кнопка*/
/*.record {

	font-size: 20px;
	font-weight: 400;
	text-decoration: none;
	color: #fff;
	position: relative;
	background-color: #000;
	padding: 3px 10px;
	border-radius: 30px;
	border: 1px solid #fff;
	width: 114px;
	height: 28px;
	text-align: center;
	z-index: 4;
}
.record:hover {
	background-color: #fff;
	border: 1px solid #fff;
	color: #000;
	transition:0.5s ease;
}
*/




.header_menu{
	position: relative;
	z-index: 4;
	width: 100%;
}
.nav_wight {

	display: flex;
	align-items: center;
}
.header_list {
	padding-inline-start: 0;
	display: flex;
	width: 100%;
	justify-content: space-between;
}

/*нижнее подчеркивание*/
.header_link {
	position: relative;
	list-style: none;
	margin-left: 27px; 
}
.header_link::before {
	position: absolute;
	content: "";
	width: 0%;
	height: 1px;
	background-color: whitesmoke;
	left: 50%;
	bottom: -10px;
	transition: all 0.4s ease-in-out;
}
.header_link:hover::before {
	width: 100%;
	left: 0;
}
.navigation_li {
	display: flex;
	margin-left: 55px;
}
.header_link{
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	font-weight: 400;
}



/*адаптив*/

@media (max-width:1170px){
	.container {
		max-width:992px;
	}
	.width {
		max-width:992px;
	}
	.footer {
		max-width:992px;
	}
	.nav_wight {
		max-width:992px;
		margin: 0 auto;
		
	}
	header_list {
    margin: 0 0 0 1em;
}

}
@media (max-width:991px){
	.container {
		max-width:767px;
	}
	.width {
		max-width:767px;
	}
	.footer {
		max-width:767px;
	}
	.nav_wight {
		max-width:767px;
		margin: 0 auto;
		justify-content: center;
	}

	.header_burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 4;
		padding-right: 10px;
	}

	.header_burger:before,
	.header_burger:after{
		content: '';
		background-color: #fff;
		position: absolute;
		width: 30px;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;

	}
	.header_burger:before {
		top: 0;
	}
	.header_burger:after{
		bottom: 0;
	}
	.header_burger span {
		position: absolute;
		background-color: #fff;
		width: 30px;
		left: 0;
		height: 2px;
		top: 9px;
		transition: all 0.3s ease 0s;	
	}
	.header_burger.activ:before {
		transform: rotate(45deg);
		top: 9px;
	}
	.header_burger.activ:after {
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.header_burger.activ span {
		transform: scale(0);
	}
	.header_menu {
		position: fixed;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: #fff;
		z-index: 3;
		padding: 50px 10px 20px 0px ;
		top: -108%;
		transition: all 0.3s ease 0s; 
	}
	.header_menu.activ {
		top: 0;
	}
	.header_list {
		display: block;
		text-align: center;
	}
	.header_list li {
		padding: 0 0 20px 0;
		margin: 0;
		list-style-type: none;
	}
	.header_link{
	text-decoration: none;
	box-sizing: border-box;
    color: #fff;
    display: block;
    background-color: #000;
    padding: 10px 15px;
    border-radius: 30px;
    border: 1px solid #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 259px;
    height: 69;
  	margin: 0 auto;
}
.navigation_li {
	padding-top: 10px;
}

.buttom_actuv {
    background-color: #B8785A;
    color: #000;
}
	.header_body {
		height: 50px;
	}
	.header_logo {
		font-size: 28px;
	}
	.navigation_li {
		display: block;
		margin: 0;
	}
}
@media (max-width:766px){
	.container {
		max-width:576px;
	}
	.width {
		max-width:576px;
	}

	.footer {
		max-width:576px;
		position: relative;
		z-index: 1;
	}
	.nav_wight {
		max-width:576px;
		margin: 0 auto;
	}
}
@media (max-width:575px){
	.container {
		max-width:350px;
	}
	.width {
		max-width:350px;
	}
	.footer {
		max-width:350px;
	}
	.header_menu {
		padding: 50px 10px 20px 0px ;
	}
	.nav_wight {
		max-width:350px;
		margin: 0 auto;
	}
}
@media (max-width:349px){
	.container {
		max-width:280px;
	}
	.width {
		max-width:280px;
	}
	.footer {
		max-width:280px;
	}
	.nav_wight {
		max-width:280px;
		margin: 0 auto;
	}
}


 /*секция*/
 .anim-show {
	transform: translate(0px, 120%);
	opacity: 0;
	transition: all 0.8s ease 0s;
	}
.anim-show .show,
.show .anim-show{
	transform: translate(0px, 0px);
	opacity: 1;

}

.contact-title{
	transform: translate(0px, 120%);
	opacity: 0;
	transition: all 0.8s ease 0s;
}
	
.contact-title.show{
	transform: translate(0px, 0px);
	opacity: 1;
}

.logolash {
	transform: translate(0px, 120%);
	opacity: 0;
	transition: all 0.8s ease 0.1s;
}

.logolash.show{
	transform: translate(0px, 0px);
	opacity: 1;

}


/*.insta {
	transform: translate(0px, 120%);
	opacity: 0;
	transition: all 0.8s ease 0.2s;
}

.insta.show{
	transform: translate(0px, 0px);
	opacity: 1;
}
.tel {
	transform: translate(0px, 120%);
	opacity: 0;
	transition: all 0.8s ease 0.3s;
}
.tel.show{
	transform: translate(0px, 0px);
	opacity: 1;
}*/



section{
	padding-top: 100px;
	color: #fff;
	background-color: #000;
	padding-bottom: 5%;
}
.content {
	display: flex;
}
.width {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	
}
.width h1 {
	color: #B8785A;
	
	margin-left: 7%;
}
/*.frame {
	display: flex;
	margin-top: 6%;
}
iframe{
	height: 90%;
	width: 100%;
}
.farme_box {
	margin-left: 5%;
	margin-right: 5%;
	flex: 0 1 50%;
	height: 400px;
}*/


.frame {
	padding: 30px;
	width: 50%;
	margin: 0 auto;
}

.page__map {
	padding: 0 0 50% 0;
	position: relative;
	background: url(../img/portfolio/loading.gif)center / 50px no-repeat;
}
.page__map iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.logolash {
	display: flex;
	align-items: center;
}

.logolash img {
	position: absolute;
	top: -40px;
	right: 0;
	width: 80px;
}
.contact {
	padding-top: 30px;
	flex: 0 1 50%;
}
.contact h2{
	font-size: 18px;
	
}
.insta {
	display: flex;
	align-items: center;
	margin-top: 5%;
}
.insta h2 {
 margin-left: 16px;
}
.insta a {
	display: block;
	margin-left: 0 auto;
	margin-right: 0 auto;
	text-decoration: none;
	color: #fff;
}
.href-insta {
	margin-left: 5px;
	display: flex;
	align-items: center;
}

.tel a {
	text-decoration: none;
	color: #fff;

}
.tel{
	display: flex;	
	align-items: center;
	margin-top: 5%;
}
.tel h2 {
	margin-left: 10px;
}
.href-tel {
	display: flex;
	align-items: center;
}
.buttom-catalog {
	color: #fff;
	display: block;
	background-color: #000;
	padding: 1% 2%;
	border-radius: 30px;
	border: 1px solid #fff;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	width: 10em;
	margin-left: 7%;
	margin-top: 6%;
	margin-bottom: 9%;
	display: none;
}
.buttom-catalog:hover {
	background-color: #fff;
	border: 1px solid #fff;
	color: #000;
	transition:0.5s ease;
}




/*подвал*/
footer{
	position: relative;
	background-color: #000;
	text-align: center;
	justify-content: center;
	
}
.footer{
	max-width: 1170px;
	padding-top: 3%px;
	margin-right: auto;
	margin-left: auto;

}
.topbox {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
hr {
	opacity: .3;
	align: center; 
	max-width: 100%; 
	size: 1; 
	color: #FFFFFF;
}

.footerlogo {
	font-size: 32px;
}
.footnav a {
	font-size: 20px;
	font-weight: 400;
	color: #fff;
	margin-left: 43px;
}

.footer p {
	font-size: 14px;
	font-weight: 400;
}

.footnav a {
	position: relative;
}
.footnav a::before {
	position: absolute;
	content: "";
	width: 0%;
	height: 1px;
	background-color: whitesmoke;
	left: 50%;
	bottom: -10px;
	transition: all 0.4s ease-in-out;
}
.footnav a:hover::before {
	width: 100%;
	left: 0;
}
.footerlogo a {
	color: #fff;
}

/*адаптив*/

@media (max-width:1170px){
	.container {
		max-width:992px
	}
	.width {
		max-width:992px
	}
	.footer {
		max-width:992px
	}
	.logolash {
		justify-content: center;
	}
	.contact-title {
		margin-bottom: 30px;
	}
	

	

}
@media (max-width:991px){
	.container {
		max-width:767px
	}
	.width {
		max-width:767px
	}
	.footer {
		max-width:767px
	}
	.buttom_position_end {
		display: none;
	}
	.farme_box{
		height: 100%;
	}
	.widthContentSection {
		margin-top: -50px;
	}
	.content {
	display: block;
	}
	.contact {
		padding-top: 65px;
	}
	.frame {
		width:90%;
		padding: 0;
	}
	.contact_icon {
	margin: 0 auto;
    width: 250px;
	}
/*	.contact {
		text-align: center;
	}
	*/

}
	

@media (max-width:766px){
	.container {
		max-width:576px;
	}

	.width {
		max-width:576px;
	}

	.footer {
		max-width:576px;
		position: relative;
		z-index: 1;
	}
	.menu {
		display: none;
	}
	
	.frame {
		display:block;
	}
	.contact {
		margin-top: 60px;
	}
/*	.logolash img {
    margin-top: -25%;
    margin-left: -10%;
	}*/
	.buttom-catalog {
		margin-left: auto;
		margin-right: auto;
	}
	iframe {
		height: 15em;
	}
	.farme_box {
		    margin-right: 10%;
	}
	.topbox {
		display: block;
	}

	footer {
		z-index: -1;
	}
	.footnav a {
		display: block;
		margin: 10px 0 0;
	}
	.position_p {
		margin-top: 20px;
	}
	.hambirger {
		display:block;
	}
	.footerlogo a {
	font-size: 28px;
	}
	
	.logolash {
		text-align: center;
	}
	.contact {
     margin-top: 0; 
	}

/*.logolash {
		width: 400px;
	}*/
}



@media (max-width:575px){
	.container {
		max-width:350px;
	}
	.width {
		max-width:350px;
	}
	.footer {
		max-width:350px;
	}
}
@media (max-width:349px){
	.container {
		max-width:280px;
	}
	.width {
		max-width:280px;
	}
	.footer {
		max-width:280px;
	}
	.logo {
		font-size: 24px;
	}
	.farme_box {
    margin-right: 5%;
	}
	.hambirger {
    margin-right: 5%;
	}
	.header1display .show-menu {
	margin-top: 28px;
	} 
	.header_logo {
    font-size: 20px;
}
}

